body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ______logo_______*/
.logo-full {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-top {
  margin-right: 76px;
}

.logo-bottom {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio-top {
  color: #2e2f42;
}

.logo-studio-bottom {
  color: #f4f4fd;
}

/*===========navigation==========*/
.border-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  column-gap: 40px;
}

.menu-list-item {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
}

.menu-list-item-studio {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list-item:hover,
.menu-list-item:focus {
  color: #404bbf;
}

.menu-list-item-studio::after {
  content: "";
  display: block;
  border-radius: 2px;
  left: 0;
  width: 100%;
  height: 4px;
  position: absolute;
  margin-top: 20px;
  bottom: -1px;
  background-color: #404bbf;
}

.contacts {
  font-style: normal;
}
.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/*==============hero===========*/

.hero {
  background-color: #2e2f42;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero button {
  cursor: pointer;
  background-color: #4d5ae5;
}

.hero button:hover,
.hero button:focus {
  background-color: #404bbf;
}

/*=================benefits=========*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.benefits-svg-box {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  position: relative;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-svg {
  position: absolute;
}

.benefits-list-item {
  width: calc((100% - 72px) / 4);
  align-items: center;
}

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*=================team=========*/
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  background-color: #ffffff;
  min-width: 264px;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-icon-list-item {
  width: 40px;
  height: 40px;
}

.team-icon-bg {
  background-color: #4d5ae5;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-bg:hover,
.team-icon-bg:focus {
  background-color: #404bbf;
}

.team-icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-content {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-career {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/*=================portfolio=========*/
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  width: calc((100% - 48) / 3);
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  max-width: 360px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img {
  display: block;
  position: relative;
  width: 360px;
  height: 300px;
  overflow: hidden;
}

.portfolio-overlay {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-content {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*-------------footer-----------*/
.bottom-side {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-info {
  margin-right: 120px;
}

.footer-social {
  margin-right: 80px;
}

.footer-icons-list {
  display: flex;
  gap: 16px;
}

.footer-icons-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-icons-bg {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-bg:hover,
.footer-icons-bg:focus {
  background-color: #31d0aa;
}

.footer-icons {
  fill: #f4f4fd;
}

.footer-input-field {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
}

.footer-input-field:placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-subscribe-btn {
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  outline: transparent;
  display: flex;
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #404bbf;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-subscribe-btn-icon {
  fill: #fff;
}

/* =========backdrop modal============== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

/* ======== modal=========== */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  padding: 0;
  display: block;
  line-height: 0;
}

.close-icon {
  border-radius: 100%;
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover,
.close-icon:focus {
  fill: #404bbf;
  stroke: #fff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}

.privacy-policy-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-form-field-wrapper {
  margin-bottom: 8px;
  position: relative;
}

.modal-form-input-box {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.modal-form-textarea:focus {
  border-color: #4d5ae5;
}

.modal-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-label-checkbox {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-window-checkbox {
  border-radius: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.modal-form-checkbox:checked
  + .modal-form-label-checkbox
  .modal-form-window-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
}

.modal-form-checkbox:focus
  + .modal-form-label-checkbox
  .modal-form-window-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
}

.modal-submit-btn {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  outline: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:focus,
.modal-submit-btn:hover {
  background-color: #404bbf;
}
